#navigation{
width:100%;
height:8%;
}
#text_div{
width:50%;
height:100%;
float:left;
color:#FFF;
font-size:35px;

}
#logo{
width:10%;
height:100%;
float:left;
}
#table_div{
width:40%;
height:100%;
float:right;

}

#all{
width:100%;
height:92%;
}
#all_left{
	width:100%;
	height:100%;
	float:left;
	
}



